whisper_model_size=small
faster_whisper_model_size=base
device=cpu # cuda or cpu
silence_offset_dbfs=-18.0
min_silence_len_ms=100
keep_silence_ms=200
max_workers=4
debug_dump_chunks=false
audio_format=wav
language=en # en or multi
